# Used to check if our config is already loaded
SERVER_BACKUP_SCRIPT=true

export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export RESTIC_PASSWORD=""
export RESTIC_REPOSITORY=""

NOW=$(date +%F.%H%M%S)
NOW_INT=$(date +%s)

SCRIPTS_ROOT="$(dirname "$0")"

RESTIC_EXCLUDE_FILE="$SCRIPTS_ROOT/ExcludeFiles.txt"
RESTIC_INCLUDE_FILE="$SCRIPTS_ROOT/IncludeFiles.txt"

BACKUP_COMPLETE_PING=""
INTEGRITY_CHECK_PING=""
INTEGRITY_CHECK_PING_DOWN=""
INTEGRITY_LAST_RUN_FILE="$SCRIPTS_ROOT/integrity_last_run"
INTEGRITY_MAX_AGE=$((35*24*3600)) # 35 Days

DO_PARTIAL_REPO_CHECK=true
PARTIAL_REPO_CHECK_SUBSET=5%

DB_BACKUP=false
DB_EXTRA_OPTIONS="" # --set-gtid-purged=OFF - If needed to suppress warning
DB_HOST=""
DB_PORT="3306"
DB_USER=""
DB_NAME=""
DB_PASSWORD_FILE="$SCRIPTS_ROOT/DB.cnf"
DB_FILE="$SCRIPTS_ROOT/Temp/$NOW.sql.gz"

LOG_FOLDER="/var/log/pumpkin"
LOG_FILE="$LOG_FOLDER/backups.log"

DRY_RUN=false

RESTIC_DRY_RUN_OPTION="" && [[ "$DRY_RUN" = true ]] && RESTIC_DRY_RUN_OPTION="--dry-run"

source "$SCRIPTS_ROOT/ObtainLock.sh"

# Make directories if they do not exist
mkdir -p "$SCRIPTS_ROOT/Temp"
mkdir -p "$LOG_FOLDER"

if [[ "$DRY_RUN" == true ]]; then
   echo "!!!!!!!DRY RUN ENABLED!!!!!!!"
fi

# Function to log messages
log_message() {
    if [[ -n "$1" ]]; then
        DATE=$(date +%F.%H%M%S)
        echo "[$DATE] $1" >> "$LOG_FILE"
    else
        while read data; do log_message "$data"; done;
    fi
}